/*Slider*/
:root{
    --clr:#afaeae;
}
.carousel-caption {
    position: relative;
    text-align: center;
    padding-right: 30%;

}
.carousel-inner {
    
    background-color: var(--clr);
    border-radius: 50px;
}


.conten1 button {
    padding: 10px;
    margin-top: 10px;
    border-radius: 25px;
    background-color: black;
    border: 0 ;

}

.conten1 .text {
    color: aliceblue;
}

.conten1 button:hover {
    background-color: rgba(1, 1, 1, 0.52);
    color: rgba(1, 1, 1, 0.52);
    transition: 0.5s;
}


.conten2 button {
    background-color: rgba(82, 82, 88, 0.911);
    border-radius: 30px;
    margin-right: 20px;
    margin-left: 20px;
    color: rgb(255, 255, 255);
    padding: 5px;
    margin-bottom: 12px;
    border: 0 ;
}

.conten2 button:hover {
    background-color: black
}

.conten3 button {
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 5px;
    margin-bottom: 10px;
}

.conten3 button:hover {
    background-color: rgba(0, 0, 0, 0.555);
    transition: 0.5s;
    border: 0 ;
}


/*Card1*/
.card{
    margin-left: 10px;
   margin-top: 50px;
   border-radius: 50px;
   
   
}

.row{
    padding: 15px;
}

.col-md-6{
    background-color: var(--clr);
    border-radius: 50px;
    
}

.card-body{
    text-align: center;
    padding-top: 25%;
}

.bott {
    padding: 20px;
    
    
}

.bott .but1{
    margin-right: 40px;
    background-color: black;
    color:white;
    border-radius: 30px;
    border: 2px solid white;
}
.bott .but2{
    margin-left: 40px;
    border-radius: 30px;
    
    
}

.bott .but1:hover{
    background-color: var(--clr);
    color: black;
    transition: 0.5s;
    border-color: white;
}

.bott .but2:hover{
    background-color: var(--clr);
    transition: 0.5s;
}

.bott button .text1,
.bott button .text2{
    padding: 10px;
    
}

/*TextConten*/
.TextCont{
    margin-top: 50px;
    padding-left: 30px;
}

.TextCont .Tex1{
    font-size: 80px; 
}

.TextCont .Tex2 {
font-size: 30px;
}

/* Card3*/

.col-md-8 img {
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
}